.not-found__link {
  color: #fff;
  text-decoration: none;
  transition: text-shadow .5s;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #fffa45,
    0 0 30px #fffa45,
    0 0 40px #fffa45,
    0 0 55px #fffa45,
    0 0 75px #fffa45,
    2px 2px 2px rgba(255, 250, 69, 0);
}

@media (hover: hover) {
  .not-found__link:hover {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #fffa45,
      0 0 30px #fffa45,
      0 0 40px #fffa45,
      0 0 55px #fffa45,
      0 0 75px #fffa45,
      0 0 95px #fffa45,
      0 0 110px #fffa45,
      0 0 130px #fffa45,
      0 0 160px #fffa45,
      2px 2px 2px rgba(255, 250, 69, 0);
  }
}